<div class="col-lg-12 mx-lg-auto">
  <div class="card">
    <h5 class="card-header bg-primary">Confirmation Pending</h5>
    <div class="card-body">
      <h5 class="card-title">Hello! </h5>
      <p class="card-text">We send you a confirmation email.</p>
      <strong>Confirm My Account</strong>
    </div>
  </div>
</div>