<div class="col-lg-6 mx-lg-auto">
  <div class="row mx-lg-auto">
    <% @plans.each do |plan| %>
    <div class="card" style="margin-top: 15px;">
      <div class="card-header">
        <strong style="font-size: 150%; color: red">Plans</strong>
      </div>
      <div class="card-body">
        <strong><%= plan.name %></strong>
        <strong><%= plan.price %></strong>
        <div>
          <button type="button" class="btn btn-primary btn-lg" style="margin-bottom: 10px; margin-top: 10px;">Buy Now</button> 
        </div>
      </div>
    </div>      
    <% end %>
  </div>
</div>


